*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/static/Imagenes/Fondo_login.png') no-repeat center center fixed;

    background-size: auto;
}

.wrapper{
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40vw;
    height: 50vh;

    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.wrapper .form-box{
    width: 100%;
    padding: 20px;
}

.form-box h2{
    font-size: 2em;
    color: azure;
    text-align: center;
}

.input-box{
    position: relative;
    color: azure;
    border-bottom: 1px solid;
    width: 100%;
    height: 20px;
    margin: 50px 0;
}

.input-box label{
    position: absolute;
    top: 0%;
    right:80%;
    transform: translateY(-30%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    color: azure;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px;
    top: -200%;
}

.btn{
    width: 100%;
    height: 45px;
    border-radius: 20px;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;

    margin-top: 15px;
    margin-bottom: 15px;
}

.login-register{
    font: 0.9em;
}



@media (max-width: 1024px) {
    .wrapper{
        width: 45vw;
        height: 70vh;
    }
}

@media (max-width: 768px) {
    .wrapper{
        width: 60vw;
        height: 70vh;
    }
}

@media (max-width: 480px) {
    .wrapper{
        width: 85vw;
        height: 70vh;
        padding: 10px;
    }

    .form-box{
        padding: 10px;
    }

    .form-box h2{
        font-size: 1.5em;
    }
}

@media (max-width: 360px) {
    .wrapper{
        width: 90vw;
        height: 75vh;
    }

    .form-box h2{
        font-size: 1.3em;
    }
}

