*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background: url('../Imagenes/Fondo_workspace.svg') no-repeat center center fixed;
    background-size: cover;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.sidebar{
    width: 256px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(19, 155, 162, 0.6);
    padding: 24px;
    border-radius: 20px;
    gap: 20px;
}

.sidebar .head{
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    color: azure;
}

.user-img{
    width: 50px;
    height: 50px;
    border-radius: 60%;
    overflow: hidden;
}

.user-img img{
    width: 100%;
    object-fit: cover;
}


.user-details .title{
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.user-details .speciality{
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.user-details .name{
    font-size: 14px;
    font-weight: 500;
}

.menu ul li{
    list-style: none;
    margin-bottom: 5px;
}

.menu ul li a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    color: azure;
    text-decoration: none;
    padding: 12px 8px;
    border-radius: 8px;
    transition: all 0.3s;
}

.menu ul li:hover a,
.menu ul li.active a{
    color: #000;
    background:rgba(220, 228, 228, 0.3);
}


.menu ul li .icon{
    font-size: 20px;
}

.main{
    flex: 1;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
}



.main .box-link{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    height: 220px;
    background: rgba(229, 223, 223, 0.3);
    border-radius: 5%;
    width: 220px;
    cursor: pointer;
    transition: 0.3s, box-shadow 0.3s;;
}

.main .box:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}


.box-img{
    border-radius: 5%;
}


.box-img img{
    height: 150%;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}


.box-info{
    width: 100%;
    text-align: center;
    background: white;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    border-radius: 5%;
}

