{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors Management</title>
    <link rel="stylesheet" href="{% static 'css/style_workspace.css' %}">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="head">
                <div class="user-img">
                    <img src="https://images.pexels.com/photos/4167541/pexels-photo-4167541.jpeg?_gl=1*17t8fe1*_ga*OTczNTU2MjM2LjE3NjM0Mjc5MDU.*_ga_8JE65Q40S6*czE3NjM0Mjc5MDQkbzEkZzEkdDE3NjM0Mjc5NDgkajE2JGwwJGgw" alt="Foto recortada">
                </div>

                <div class="user-details">
                    <p class="title">Doctor</p>
                    <p class="speciality">{{ doctor.speciality }}</p>
                    <p class="name">{{ doctor.name }} {{ doctor.last_name }}</p>
                </div>
            </div>

            <div class="nav">
                <div class="menu">
                    <ul class="top-menu">
                        <li>
                            <a href="{% url 'profile_doctor' %}">
                                <span><ion-icon name="calendar-outline"></ion-icon></span>
                                <span>Profile</span>
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'workspace' %}">
                                <span><ion-icon name="home-outline"></ion-icon></span>
                                <span>Home</span>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <span><ion-icon name="calendar-outline"></ion-icon></span>
                                <span>Calendar</span>
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'notifications' %}">
                                <span><ion-icon name="notifications-outline"></ion-icon></span>
                                <span>Notifications</span>
                            </a>
                        </li>

                    </ul>

                    <ul class="bottom-menu">
                        <hr>
                        <li>
                            <a href="{% url 'login' %}">
                                <span><ion-icon name="log-out-outline"></ion-icon></span> 
                                <span>Log Out</span> 
                            </a> 
                        </li>
                    </ul>

                </div>
            </div>

        </div>


        <div class="main">
            <div class="box">
                <a href="{% url 'register_new_doctor' %}" class="box-link">
                    <div class="box-img">
                        <img src="https://i.pinimg.com/1200x/de/d2/67/ded26713e891d6d2eba033632392c5f3.jpg" alt="icono">
                    </div>

                    <div class="box-info">
                        Register new doctor
                    </div>
                </a>

            </div>

            <div class="box">
                <a href="{% url 'deleate_doctor' %}" class="box-link">
                <div class="box-img">
                    <img src="https://i.pinimg.com/1200x/cb/a8/63/cba863b5bba200c485c95e7e359b8664.jpg" alt="icono">
                </div>

                <div class="box-info">
                    Deleate Doctor
                </div>
                </a>
            </div>

            <div class="box">
                <a href="{% url 'search_doctor' %}" class="box-link">
                <div class="box-img">
                    <img src="https://i.pinimg.com/1200x/87/c1/57/87c15711ec13920ca7010342bff617d8.jpg" alt="icono">
                </div>

                <div class="box-info">
                    Search Doctors
                </div>
                </a>
            </div>

        </div>

    </div>

    <script src="../static/js/menu_ul.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>