{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/style_register.css' %}">
</head>
<body style="background: url('{% static 'Imagenes/Fondo_login.svg' %}') no-repeat center center fixed; background-size: cover;">

    <div class="wrapper">
        <div class="form-box login">
            <h2>Register</h2>
            <form action="#">
                <label for="fname">First name</label>
            </form>
        </div>
    </div>

</body>
</html>
