
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search patient</title>
    <link rel="stylesheet" href="../static/css/style_search.css">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="head">
                <div class="user-img">
                    <img src="https://images.pexels.com/photos/4167541/pexels-photo-4167541.jpeg?_gl=1*17t8fe1*_ga*OTczNTU2MjM2LjE3NjM0Mjc5MDU.*_ga_8JE65Q40S6*czE3NjM0Mjc5MDQkbzEkZzEkdDE3NjM0Mjc5NDgkajE2JGwwJGgw" alt="Foto recortada">
                </div>

                <div class="user-details">
                    <p class="title">Doctor</p>
                    <p class="speciality">Cardiologa</p>
                    <p class="name">Laura Lopez</p>
                </div>
            </div>

            <div class="nav">
                <div class="menu">
                    <ul class="top-menu">
                        <li>
                            <a href="#">
                                <span><ion-icon name="calendar-outline"></ion-icon></span>
                                <span>Profile</span>
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'workspace' %}">
                                <span><ion-icon name="home-outline"></ion-icon></span>
                                <span>Home</span>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <span><ion-icon name="calendar-outline"></ion-icon></span>
                                <span>Calendar</span>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <span><ion-icon name="notifications-outline"></ion-icon></span>
                                <span>Notifications</span>
                            </a>
                        </li>

                    </ul>

                    <ul class="bottom-menu">
                        <hr>
                        <li>
                            <a href="{% url 'login' %}">
                                <span><ion-icon name="log-out-outline"></ion-icon></span> 
                                <span>Log Out</span> 
                            </a> 
                        </li>
                    </ul>

                </div>
            </div>

        </div>

        <div class="content">

            <header class="header">
                <div class="filters">

                    <div class="input-box">
                        <input type="text" class="search" placeholder="Search by ID or last name">
                    </div>

                    <div class="input-box">
                        <select id="gender">
                            <option value="">Gender</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="O">Other</option>
                        </select>
                    </div>

                    <div class="input-box">
                        <select>
                            <option value="">Status</option>
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                        </select>
                    </div>
                </div>
            </header>

            <div class="main">
                <div class="box">
                    <a href="{% url 'patient_managment' %}" class="box-link">
                        <div class="box-img">
                            <img src="https://images.unsplash.com/photo-1581056771107-24ca5f033842?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="icono">
                        </div>

                        <div class="box-info">
                            Patient´s Management
                        </div>
                    </a>

                </div>

                <div class="box">
                    <a href="{% url 'doctors_managment' %}" class="box-link">
                    <div class="box-img">
                        <img src="https://images.unsplash.com/photo-1579684385127-1ef15d508118?q=80&w=1160&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="icono">
                    </div>

                    <div class="box-info">
                        Doctor´s Management
                    </div>
                    </a>
                </div>

                <div class="box">
                    <a href="{% url 'medical_history' %}" class="box-link">
                    <div class="box-img">
                        <img src="https://images.unsplash.com/photo-1631217868264-e5b90bb7e133?q=80&w=1782&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="icono">
                    </div>

                    <div class="box-info">
                        Medical history
                    </div>
                    </a>
                </div>

                <div class="box">
                    <a href="{% url 'appointments' %}" class="box-link">
                    <div class="box-img">
                        <img src="https://images.unsplash.com/photo-1597768164194-b804b42bd61a?q=80&w=1542&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="icono">
                    </div>

                    <div href="{% url 'appointments' %}" class="box-info">
                        Appointments
                    </div>
                    </a>
                </div>

            </div>
        </div>

    </div>

    <script src="../static/js/menu_ul.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>