{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search doctor</title>
    <link rel="stylesheet" href="{% static 'css/style_search.css' %}">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="head">
                <div class="user-img">
                    <img src="https://images.pexels.com/photos/4167541/pexels-photo-4167541.jpeg?_gl=1*17t8fe1*_ga*OTczNTU2MjM2LjE3NjM0Mjc5MDU.*_ga_8JE65Q40S6*czE3NjM0Mjc5MDQkbzEkZzEkdDE3NjM0Mjc5NDgkajE2JGwwJGgw" alt="Foto recortada">
                </div>

                <div class="user-details">
                    <p class="title">Doctor</p>
                    <p class="speciality">{{ doctor.speciality }}</p>
                    <p class="name">{{ doctor.name }} {{ doctor.last_name }}</p>
                </div>
            </div>

            <div class="nav">
                <div class="menu">
                    <ul class="top-menu">
                        <li>
                            <a href="{% url 'profile_doctor' %}">
                                <span><ion-icon name="calendar-outline"></ion-icon></span>
                                <span>Profile</span>
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'workspace' %}">
                                <span><ion-icon name="home-outline"></ion-icon></span>
                                <span>Home</span>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <span><ion-icon name="calendar-outline"></ion-icon></span>
                                <span>Calendar</span>
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'notifications' %}">
                                <span><ion-icon name="notifications-outline"></ion-icon></span>
                                <span>Notifications</span>
                            </a>
                        </li>

                    </ul>

                    <ul class="bottom-menu">
                        <hr>
                        <li>
                            <a href="{% url 'login' %}">
                                <span><ion-icon name="log-out-outline"></ion-icon></span> 
                                <span>Log Out</span> 
                            </a> 
                        </li>
                    </ul>

                </div>
            </div>

        </div>

        <div class="content">

            <header class="header">
                <form method="POST">
                    {% csrf_token %}
                    <div class="filters">

                        <div class="input-box">
                            <span>ID</span>
                            <input type="text" class="id"  name="id" placeholder="Search by ID">
                        </div>

                        <div class="input-box">
                            <span>Gender</span>
                            <select id="gender" name="gender">
                                <option value="All">All</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                        </div>

                        <div class="input-box">
                            <span>Rank</span>
                            <select name="rank">
                                <option value="All">All</option>
                                <option value="Resident">Resident</option>
                                <option value="Fellow">Fellow</option>
                                <option value="Chief of service">Chief of service</option>
                            </select>
                        </div>

                        <div class="input-box">
                            <span>Speciality</span>
                            <select name="speciality">
                                <option value="All">All</option>
                                <option value="Allergy and Immunology">Allergy and Immunology</option>
                                <option value="Cardiology">Cardiology</option>
                                <option value="Dermatology">Dermatology</option>
                                <option value="Pedriatrics">Pedriatrics</option>
                                <option value="Orthopedic Surgery">Orthopedic Surgery</option>
                            </select>
                        </div>


                        <button class="submit-btn" type="submit">Submit</button>
                    </div>

                </form>
                
            </header>

            <div class="main">
                {% for p in doctors %}
                <div class="box">
                    <a href="{% url 'profile_other_doctor' %}?id={{ p.id }}" class="box-link">

                        <div class="box-img">
                            <img src="https://images.unsplash.com/photo-1631217868264-e5b90bb7e133?q=80&w=1782&auto=format&fit=crop" alt="patient">
                        </div>

                        <div class="box-info">
                            {{ p.name }} {{ p.last_name }} <br>
                            <strong>{{ p.id }}</strong>
                        </div>

                    </a>
                </div>
                {% endfor %}

            </div>

            </div>
        </div>

    </div>

    <script src="../static/js/menu_ul.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>