{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkSpace</title>
    <link rel="stylesheet" href="../static/css/style_notification.css">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="head">
                <div class="user-img">
                    <img src="https://images.pexels.com/photos/4167541/pexels-photo-4167541.jpeg?_gl=1*17t8fe1*_ga*OTczNTU2MjM2LjE3NjM0Mjc5MDU.*_ga_8JE65Q40S6*czE3NjM0Mjc5MDQkbzEkZzEkdDE3NjM0Mjc5NDgkajE2JGwwJGgw" alt="Foto recortada">
                </div>

                <div class="user-details">
                    <p class="title">Doctor</p>
                    <p class="speciality">{{ doctor.speciality }}</p>
                    <p class="name">{{ doctor.name }} {{ doctor.last_name }}</p>
                </div>
            </div>

            <div class="nav">
                <div class="menu">
                    <ul class="top-menu">
                        <li>
                            <a href="{% url 'profile_doctor' %}">
                                <span><ion-icon name="calendar-outline"></ion-icon></span>
                                <span>Profile</span>
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'workspace' %}">
                                <span><ion-icon name="home-outline"></ion-icon></span>
                                <span>Home</span>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <span><ion-icon name="calendar-outline"></ion-icon></span>
                                <span>Calendar</span>
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'notifications' %}">
                                <span><ion-icon name="notifications-outline"></ion-icon></span>
                                <span>Notifications</span>
                            </a>
                        </li>

                    </ul>

                    <ul class="bottom-menu">
                        <hr>
                        <li>
                            <a href="{% url 'login' %}">
                                <span><ion-icon name="log-out-outline"></ion-icon></span> 
                                <span>Log Out</span> 
                            </a> 
                        </li>
                    </ul>

                </div>
            </div>

        </div>

        <div class="main">
            <div class="notifications-container">

                <h2 class="section-title">
                    Medical Record of {{ patient.name }} {{ patient.last_name }} (ID: {{ patient.id }})
                </h2>

                <div class="notifications-container">
                    {% if notes %}
                        {% for n in notes %}
                        <div class="notification-box">
                            <div class="notification-title">Consultation</div>

                            <div class="notification-content">
                                <strong>Reason:</strong> {{ n.reason }} <br>
                                <strong>Lab results:</strong> {{ n.lab_results }} <br>
                                <strong>Treatments:</strong> {{ n.treatments }} <br>
                                <strong>Follow-up:</strong> {{ n.follow_up }}
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="no-notes">No medical records found.</div>
                    {% endif %}
                </div>


            </div>
        </div>



    </div>

    <script src="../static/js/menu_ul.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>